<!DOCTYPE html>
<html lang="ru">
<head>
  {% block title %}<title>Юзовка Игрушки</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  {% load toys_tags %}
  {% load static %}
  <!-- Добавление дополнительного статического CSS файла -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div class="container-fluid">

    <!--Navbar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Юзовка Игрушки</a>
            </div>
            
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicNav">
                <ul class="nav navbar-nav">
                    <li><a href="/">Главная</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Игрушки <span class="caret"></span>
                        </a>
                        {% get_main_categories as main_categories %}
                        <ul class="dropdown-menu">
                            {% for main_category in main_categories %}
                                <li><a href="/toys/category/{{ main_category.id }}">{{ main_category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="/toys/contests">Конкурсы</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->
    
    <div class="breadcrumbs">
    </div>
    
    <div class="content">
      {% block content %}{% endblock %}
    </div>

  </div>
</body>
</html>